.card-body > .card-img {
    width: 120px;
    margin: 0 auto;
    display: block;
}

.navbar form {
    position: relative;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: 0.25rem;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
